.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.dashboard {
  display: flex;
  height: 100vh;
}

.left-panel,
.right-panel {
  width: 25%;
  padding: 1rem;
  overflow-y: auto;
  font-size: 12px;
}

.right-panel {
  display: none !important;
}

.center-panel {
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-wrapper>div>div {
  padding: 1rem;
  overflow: auto;
  width: calc(100% - 2rem);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.chart-container {
  padding: 1rem;
  border: 1px solid aqua;
  border-radius: 1rem;
}

/* App.css */
.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ver-mas-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.ver-mas-btn:hover {
  background-color: #0056b3;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Insights Section */
.insights {
  margin-top: 20px;
}

.insights h3 {
  margin-bottom: 10px;
}

.insights ul {
  list-style-type: square;
}

.main-content {
  display: flex;
  width: 100%;
  flex-direction: row;
}

nav button {
  background: #efefef;
  border: none;
  padding: 1rem;
}

button {
  box-shadow: 1px 1px 0 0 aqua;
}

nav button:hover {
  background: #00ffff24;
}

.chart-wrapper table {
  width: 700px;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

/* Cambios de diseño en pantallas grandes */
@media (min-width: 768px) {
  .left-panel {
    width: 25%;
  }

  .center-panel {
    width: 75%;
  }

  .chart-wrapper>div>div {
    grid-template-columns: repeat(3, 1fr);
    /* Asegura que haya 3 columnas en pantallas grandes */
  }

  /* Si tienes un panel derecho, puedes hacerlo visible aquí */
  .right-panel {
    display: block;
    width: 25%;
    padding: 1rem;
    font-size: 14px;
  }
}

/* Estilo para pantallas más pequeñas */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    /* Acomoda los paneles verticalmente */
  }


  .chart-wrapper table {
    width: 100%;
  }

  .left-panel,
  .center-panel {
    width: 100%;
    overflow: visible;
  }

  /* Mejorar la visualización de las gráficas en pantallas pequeñas */
  .chart-wrapper>div>div {
    grid-template-columns: 1fr;
    /* Las gráficas se mostrarán en una sola columna en pantallas pequeñas */
  }

  .intro-logo {
    display: none !important;
  }
}

/* Estilo para dispositivos muy pequeños */
@media (max-width: 480px) {
  .filters {
    flex-direction: column;
    /* Acomoda los filtros en una sola columna */
    gap: 20px;
  }

  .ver-mas-btn {
    padding: 8px 12px;
    /* Botones más pequeños */
  }

  .modal-content {
    width: 90%;
    /* Modal se hace más pequeño */
  }

  .intro-logo {
    display: none !important;
  }
}

